<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <title>Tarea</title>
    <style>
        .pointer {cursor: pointer;}
    </style>
</head>

<body>
    <div class="container tarea">
        <div class="row">
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroupFileAddon01">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor"
                                xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z" />
                                <path fill-rule="evenodd"
                                    d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z" />
                            </svg>
                        </span>
                    </div>
                    <input v-model='buscar' @keyup="buscars()" type="text" placeholder="Buscar" class="form-control" aria-label="Text input with segmented dropdown button">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-outline-secondary">filtrar por region</button>
                        <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="sr-only">Toggle Dropdown</span>
                        </button>
                        <div class="dropdown-menu">
                            <a class="dropdown-item pointer" @click="buscar_region('Africa')">Africa</a>
                            <a class="dropdown-item pointer" @click="buscar_region('Americas')">Americas</a>
                            <a class="dropdown-item pointer" @click="buscar_region('Asia')">Asia</a>
                            <a class="dropdown-item pointer" @click="buscar_region('Europe')">Europe</a>
                            <a class="dropdown-item pointer" @click="buscar_region('Oceania')">Oceania</a>
                        </div>
                    </div>
                </div>
            </div>
            <div v-for="index in countries">
                <div class="col-lg-3">
                    <div class="card" style="width: 15rem;">
                        <img :src="index.flag" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ index.name }}</h5>
                            <p class="card-text"><b>Capital: </b>{{ index.capital }}</p>
                            <p class="card-text"><b>Region: </b>{{ index.region }}</p>
                            <p class="card-text"><b>Sub Region: </b>{{ index.subregion }}</p>
                            <p class="card-text"><b>Poblacion: </b>{{ index.population }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/vue.js"></script>
    <script src="js/axios.js"></script>
    <script src="js/jquery-3.5.1.slim.min.js"></script>
    <script src="js/bootstrap.bundle.min.js"></script>
    <script>
        var vu = new Vue({
            el: ".tarea",
            data: {
                countries: [],
                buscar: ''
            },
            created: function(){
                this.api('https://restcountries.eu/rest/v2/all');
            },
            methods:{
                api: function (url) {
                    axios.get(url)
                    .then(response => {
                        this.countries = response.data;
                        console.log(this.countries);
                    }).catch(e => {
                        console.log(e);
                    });
                },
                buscars: function(){
                    this.api('https://restcountries.eu/rest/v2/name/'+this.buscar);
                },
                buscar_region: function (region) {
                    this.api('https://restcountries.eu/rest/v2/region/'+region);
                }
                
            }
        });
    </script>
</body>
</html>